body {
  font-family: Arial;
  text-align: center;
  background: #fdf7f3;
}

header {
  background: #eacfc2;
  padding: 20px;
}

section {
  margin: 40px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}
button {
  background: #c97b63;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.hero {
  background: #eacfc2;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
